/examples/results/
/data_archieve/
/data/AA_Scales/
/data/CellSurfaceAtlas/
/data/GO_KEGG/
/data/HumanProteinAtlas/
/data/NetworkAnalysis/
/data/ProteomicsDB/
/data/Proteomics_References/
/data/Substrates/
/data/UniProt/
